body {
	margin: 0;
}

/****************************************************
					Header
****************************************************/

header {
	padding: 20px 2.5%;
	text-align: center;
	color: white;
	background: green;
}

/****************************************************
					Table
****************************************************/

table {
	width: 80%;
	margin: 10px 10% 40px 10%;
}

thead th {
	font-weight: 600;
	font-size: 1.8em;
	background: #e8eeef;
}

tr {
	background: #f4f7f8;
	border: 2px solid; 
}

tbody td {
	text-align: center;
	padding: 5px 20px 5px 5px;	
}

tfoot tr {
	background: none;
	border: none;
}

tfoot td {
	padding-top: 5px;
	font-size: .6em;
	color: #8a97a0;
}

#pointsTotal td{
	color: red;
	font-size: 600;
	text-align: center;
}

/****************************************************
					Siegerehrung
****************************************************/

#honors h2, #honors h1 {
	margin: 20px auto;
	text-align: center;
}

#honors h1 {
	color: red;
	margin-bottom: 40px;
}

/****************************************************
					Buttons
****************************************************/


#buttons {
	text-align: left;
	padding-left: 10%;

}

#buttons input {
	margin-right: 2.5%;
}